.wmx-text-left { text-align: left; }
.wmx-text-center { text-align: center; }
.wmx-text-right { text-align: right; }

.wmx-fw-normal { font-weight: 400; }
.wmx-fw-medium { font-weight: 500; }
.wmx-fw-semibold { font-weight: 600; }
.wmx-fw-bold { font-weight: 700; }

.wmx-text-primary { color: var(--wmx-color-primary); }
.wmx-text-success { color: var(--wmx-color-success); }
.wmx-text-warning { color: var(--wmx-color-warning); }
.wmx-text-danger { color: var(--wmx-color-danger); }
